a {
    color: #fff;
}

h1 {
    text-transform: uppercase;
    font-size: 35pt;
    font-family: "Helvetica";
}

.headlink a {
    font-size: 35pt;
    text-decoration: none;
    font-family: "Helvetica";
    color: #ccc;
}

.headlink a:hover {
    color: #fff;
}

@font-face {
    font-family: "Helvetica Thin";
    src: url("HELVETICANEUE-THIN.OTF")
}

@font-face {
    font-family: "Helvetica";
    src: url("HELVETICA.OTF");
}

.hashtag {
    font-family: "Helvetica";
}

.button {
    font-family: "Helvetica";
    font-size: 35pt;
    color: #1E88E5;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
}

body {
    font-size: 34pt;
    font-family: "Helvetica Thin";
    color: #fff;
    background-attachment: fixed;
    background-image: url('header-bg.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
